@model IEnumerable<pogotowie_gazowe.Pracownik>

@{
    ViewBag.Title = "Pracownicy";
}

<h2>Pracownicy pogotowia gazowego</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imię)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funkcja)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imię)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funkcja)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID_Pracownika }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID_Pracownika }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID_Pracownika }) |
        </td>
    </tr>
}

</table>
