@model pogotowie_gazowe.Pojazd

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pojazd</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_zakupu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_zakupu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rocznik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rocznik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Pojazdu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Pojazdu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Pracownika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Pracownika)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Pojazdu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
