@model pogotowie_gazowe.Sprzet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sprzet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Sprzetu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Sprzetu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Czy_uszkodzony)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Czy_uszkodzony)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Sprzetu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
